@import "~antd/dist/antd.css";

.login-container {
  width: 100%;
  min-height: 100vh;
  background: #adaca7;
}

.login-wrapper {
  margin-top: -75px;
  width: 35%;
}

.sider-container {
  overflow: auto;
  min-height: 93vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 90px;
}

.header-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  color: #ffffff;
}

.header-container h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 35px;
}

.content-container {
  min-height: 93vh;
  margin-top: 100px;
  margin-left: 350px;
}

.content-container-collapsed {
  margin-left: 150px !important;
}

.footer-container {
  text-align: center;
}
